.env
.env.*
!.env.example
.git
.github
.vscode
node_modules
vendor
public/hot
public/build
public/fonts-manifest.dev.json
public/uploads
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
test-output.txt